body * { margin: 0; padding: 0; }
body { font-family: 'Arvo', serif; background: url('../static/escheresque1.png') repeat; }
ul { list-style: none; }
a { text-decoration: none; }

#navigation { margin: 0px auto 20px auto; width: 65%; text-align: center; }
#aids { margin: 0px 0px 20px 0px; }
#likes { margin: 0px 0px 20px 0px; }

#wrapper { 
	border: 1px solid rgb(76, 150, 16);
	border-radius: 10px; 
	background: rgb(163, 255, 164);
	padding: 20px;
	margin: 50px auto;
	width: 70%;
	min-width: 510px;
}

#navigation li { 
	border-radius: 10px 0px 10px 0px;
	border: 1px solid rgb(146, 206, 219);
	padding: 1em 2em;
	margin: .3em;
	background: rgb(184, 237, 249);
	display: inline-block; 
	font-weight: bold;
	color: #000;
	font-family: 'Helvetica', arial, sans-serif;
}
#navigation li:hover{ background: rgb(131, 210, 247); }


header { 
	font-size: 1.5em;
	margin: 0px auto;
	padding: 0 2px;
	width: 75%;
	min-width: 490px;
	text-align: center;
	border: 3px solid green;
	border-top: none;
	border-bottom: none;
	border-radius: 15px;
}
.inset { text-shadow: 0px -1px 3px white; }
.greyText { color: rgb(168, 168, 168) ; }
.content {
	margin: 15px auto;
	width: 65%;
	min-width: 440px;
	border: 1px solid rgb(76, 150, 16);
	border-radius: 10px; 
	padding: 10px;
	background: rgb(184, 249, 184);
	font-family: 'Helvitca', aria, sans-serif;
	font-size: 1em;
}
article.content:nth-child(2) { margin-left: 15px; }

.rounded-list {margin: 0px 0px 0px 20px; }
.rounded-list li { margin: 20px 0 0 0; }
.rounded-list a{
	width: 26em;
	position: relative;
	display: block;
	padding: .4em .2em .4em 1em;
	margin: .5em 0;
	background: rgb(184, 237, 249);
	color: #444;
	text-decoration: none;
	border-radius: .3em;
	transition: all .3s ease-out;	
	border-bottom: 1px solid rgb(146, 206, 219);
	font-weight: bold;
}
.rounded-list a:hover{ background: #eee; }

.blurb {
	margin: -1px 0px 0px 25px;
	backround: #ddd;
	border-radius: 0 .2em .2em 0;
}
